body {
    color: rgb(46, 46, 46);
    background: rgb(243, 244, 246);
}
.menu {
    background: url(../img4/bg-head.jpg) no-repeat;
}
.menu>.search{
	padding-top:31px;
}
.menu>.subnav{
	background:#E6E6E8;
}
.menu>.subnav>ul>li>a{
	color:#222;
}
.menu>.subnav>ul>li>a:hover{
	color:#36ab87;
}
.location-box{
	width: 1190px;
	height: 18px;
	margin:24px auto 8px;
}
.location-box>div>a{
	color:#3A3F4A;
}
.location-box>div>a:hover{
	text-decoration: none;
}

.listcont{
	width:1190px;
	height:1170px;
	margin:0px auto;
}
.listcont>.hotbox{
	margin-bottom:40px;
	width: 1190px;
	height:1170px;
}
.listcont>.hotbox>.leftbar{
	background:red;
}
.top2,.bottom2{
    padding: 0 0 8px 0;
    background: #fafbfc;
    margin-bottom: 10px;
}

.listcont>.hotbox>.leftbar{	
	background: #fafbfc;
    position: relative;
    width: 952px;
    height:940px;
    z-index: 2;
    float:right;
}
.listcont>.hotbox>.leftbar>ul{
	margin-left: 18px;
    width: 915px;
    height: 47px;
    border-bottom: 2px solid #f3f4f6;
    text-align: center;
}
.listcont>.hotbox>.leftbar>ul>li{
	float: left;
    width: 93px;
    height: 47px;
    line-height: 54px;
    border-bottom: 2px solid #f3f4f6;
    font-size: 18px;
}
.listcont>.hotbox>.leftbar>ul>li:nth-child(1){
	font-weight: bold;
    border-color: #36ab87;
}
.listcont>.hotbox>.leftbar>ul>li:nth-child(1)>a{
	color:#555;
	display: block;
    width: 93px;
    height: 47px;
    line-height: 54px;
}
.listcont>.hotbox>.leftbar>ul>li:nth-child(2)>a{
	display: block;
    width: 93px;
    height: 47px;
    line-height: 54px;
    color: #b8b8b8;
}
.listcont>.hotbox>.leftbar>.morebox{
	position: absolute;
    right: 18px;
    top: 0;
    height: 50px;
    line-height: 50px;
    width: 366px;
}
.listcont>.hotbox>.leftbar>.morebox>a{
	float:right;
	color: #1994eb;
    cursor: pointer;
}
.listcont>.hotbox>.leftbar>.morebox>a:hover{
	text-decoration:none;
}
.listcont>.hotbox>.leftbar>.platebox{
	width: 952px;
	height:921px;
}
.listcont>.hotbox>.leftbar>.platebox>#lol_product4{
	position: relative;
    margin: 40px 0 1px 18px;
    z-index: 2;
    width:934px;
    heigth:843px;
}
.listcont>.hotbox>.leftbar>.platebox>div>dl{
	margin: 0 13px 19px 13px;
    zoom: 1;
    float: left;
    width: 202px;
    height: 370px;
    display: block;
    position: relative;
    color: #606060;
    background:url("../img2/indexico.png") no-repeat;
    background-position: -237px -6px;
    z-index: 11;
    cursor: default;
}
.listcont>.hotbox>.leftbar>.platebox>div>dl>dt{
	float: left;
    margin-bottom: 11px;
    width: 202px;
    height: 235px;
    display: block;
    overflow: hidden;
}
.listcont>.hotbox>.leftbar>.platebox>div>dl>dt>a{
	outline:none;
}
.listcont>.hotbox>.leftbar>.platebox>div>dl>dt>a>img{
	margin: 23px auto 0;
    display: block;
    width: 116px;
    height: 212px;
}
.listcont>.hotbox>.leftbar>.platebox>div>dl>dd{
	float: left;
    margin: 0 auto;
    width: 202px;
    line-height: 17px;
    text-align: center;
}
.listcont>.hotbox>.leftbar>.platebox>div>dl>dd>a{
	color: #2e2e2e;
    width: 200px;
    height: 24px;
    line-height: 20px;
    overflow: hidden;
    cursor: pointer;
    display: block;
    font-size: 14px;
}
.listcont>.hotbox>.leftbar>.platebox>div>dl>dd>a:hover{
	text-decoration: none;
}
.listcont>.hotbox>.leftbar>.platebox>div>dl>dd>div>span{
	font-weight: bold;
	color: #ff5900;
    font-size: 14px;
}
.listcont>.hotbox>.leftbar>.platebox>div>dl>dd>div:last-child{
	margin: 10px auto 0;
    width: 124px;
    height: 32px;
}
.listcont>.hotbox>.leftbar>.platebox>div>dl>dd>div:last-child>a{
	width: 124px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background: #36ab87;
    color: #fff;
    display: block;
}
.listcont>.hotbox>.leftbar>.platebox>div>dl>dd>div:last-child>a:hover{
	text-decoration: none;
}
.listcont>.hotbox>.leftbar>.platebox>div>dl:hover{
	background-position: -237px -385px;
}
.listcont>.hotbox>.rightbar{
	float:left;
	width: 228px;
    height:auto;
    overflow: hidden;
}
.listcont>.hotbox>.rightbar>.top{
	width: 228px;
	height: 949px;
	padding: 0 18px 8px 0;
    background: #fafbfc;
    margin-bottom: 10px;
}
.listcont>.hotbox>.rightbar>.bottom{
	width: 228px;
	height: 423px;
	padding: 0 18px 8px 0;
    background: #fafbfc;
    margin-bottom: 10px;
}
.listcont>.hotbox>.rightbar>div>h3{
	margin-left: 18px;
    font-size: 16px;
    color: #555;
    font-weight: bold;
    height: 46px;
    border-bottom: 2px solid #f3f4f6;
    line-height: 54px;
    text-indent: 6px;
    position: relative;
}
.listcont>.hotbox>.rightbar>div>h3>span{
	position: absolute;
    top: 47px;
    left: 0;
    z-index: 1;
    width: 80px;
    height: 2px;
    background: #36ab87;
    display: block;
}
.listcont>.hotbox>.rightbar>.top2>ul{
	width: 196px;
	height: 750px;
	margin-left:14px;
}
.listcont>.hotbox>.rightbar>.top2>ul>li{
	min-height: 71px;
    height: auto;
    border-bottom: 1px dashed #e7e7e7;
    transition: all .2s linear;
}
.listcont>.hotbox>.rightbar>.top2>ul>li>a{
	display: block;
    width: 100%;
    padding-top: 16px;
    position: relative;
    height:74px;
}
.listcont>.hotbox>.rightbar>.top2>ul>li>a>div:nth-child(1){
	position: absolute;
    top: 8px;
    left: 0;
    z-index: 1;
    display: block;
    width: 20px;
    height: 24px;  
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    background: url("../img2/comico.png") no-repeat;
	background-position: -5px -592px;
}
.listcont>.hotbox>.rightbar>.top2>ul>li>a>div:nth-child(2){
	float:left;
	margin-left:3px;
	width: 76px;
	height: 54px;
}
.listcont>.hotbox>.rightbar>.top2>ul>li>a>div:nth-child(2)>img{
	display: block;
    width: 76px;
    height: 54px;
}
.listcont>.hotbox>.rightbar>.top2>ul>li>a>div:nth-child(3){
	float:right;
	width: 108px;
    overflow: hidden;
    color: #222;
}
.listcont>.hotbox>.rightbar>.top2>ul>li>a>div:nth-child(3)>p:nth-child(1){
	width: 108px;
    font-size: 12px;
    font-weight: bold;
    height: 14px;
    line-height: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.listcont>.hotbox>.rightbar>.top2>ul>li>a>div:nth-child(3)>p:nth-child(2){
	margin-top: 8px;
    height: 15px;
}
.listcont>.hotbox>.rightbar>.top2>ul>li>a>div:nth-child(3)>p:nth-child(3){
	margin-top: 3px;
    color: #333;
    height: 18px;
    padding-bottom: 15px;
}

.listcont>.hotbox>.rightbar>.bottom2>ul{
	width: 196px;
	height: 220px;
	margin-left:14px;
}
.listcont>.hotbox>.rightbar>.bottom2>ul>li{
	min-height: 71px;
    height: auto;
    border-bottom: 1px dashed #e7e7e7;
    transition: all .2s linear;
}
.listcont>.hotbox>.rightbar>.bottom2>ul>li>a{
	display: block;
    width: 100%;
    padding-top: 16px;
    position: relative;
    height:74px;
}
.listcont>.hotbox>.rightbar>.bottom2>ul>li>a>div:nth-child(1){
	float:left;
	margin-left:3px;
	width: 76px;
	height: 54px;
}
.listcont>.hotbox>.rightbar>.bottom2>ul>li>a>div:nth-child(1)>img{
	display: block;
    width: 76px;
    height: 54px;
}
.listcont>.hotbox>.rightbar>.bottom2>ul>li>a>div:nth-child(2){
	float:right;
	width: 108px;
    overflow: hidden;
    color: #222;
}
.listcont>.hotbox>.rightbar>.bottom2>ul>li>a>div:nth-child(2)>p:nth-child(1){
	width: 108px;
    font-size: 12px;
    font-weight: bold;
    height: 14px;
    line-height: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.listcont>.hotbox>.rightbar>.bottom2>ul>li>a>div:nth-child(2)>p:nth-child(2){
	margin-top: 8px;
    height: 15px;
}
.listcont>.hotbox>.rightbar>.bottom2>ul>li>a>div:nth-child(2)>p:nth-child(3){
	margin-top: 3px;
    color: #333;
    height: 18px;
    padding-bottom: 15px;
}

.fenye{
	margin-top: 30px;
    padding-bottom: 30px;
    height: 38px;
    line-height: 36px;
    font-size: 14px;
    padding-top: 10px;
    color: rgb(46, 46, 46);
    width: auto;
    clear: both;
    display: block;
    text-align: center;
    overflow: hidden;
}
.fenye>.shang{
	display: inline-block;	
	font-size:14px;
	marign:0px 5px;
	padding-left:12px;
	color:rgb(46,46,46);
	padding-right:6px;
	width:56px;
	height:36px;
	line-height:36px;
	position:relative;
	    border-width: 1px;
    border-style: solid;
    border-color: rgb(221, 221, 221);
    border-image: initial;
    background: rgb(255, 255, 255);
}
.fenye>.shang>i{
	border-color: transparent rgb(151, 151, 151) transparent transparent;
	left: -2px;
    top: 14px;
    border-style: dashed solid dashed dashed;
        width: 0px;
    height: 0px;
    line-height: 0;
    font-size: 0px;
    position: absolute;
    overflow: hidden;
    border-width: 5px;
    font-style: normal;
}
.fenye>a{
	width: 36px;
    line-height: 36px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin: 0px 5px;
    color: rgb(46, 46, 46);
    font-size: 14px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(221, 221, 221);
    border-image: initial;
    background: rgb(255, 255, 255);
}
.fenye>a.disabled{
    color:#bfbfbf;
    background:#f2f2f2;
    border:1px solid #bfbfbf;
}
.fenye>.active{
	color: rgb(54, 171, 135);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(54, 171, 135);
    border-image: initial;
    text-decoration: none;
    background: rgb(255, 255, 255);
}

.fenye>.xia{
	display: inline-block;
    font-size: 14px;
    margin: 0px 5px;
    padding-left: 6px;
    padding-right: 12px;
    color: rgb(46, 46, 46);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(221, 221, 221);
    border-image: initial;
    width: 56px;
    height: 36px;
    line-height: 36px;
    position: relative;
}
.fenye>.xia>i{
	border-color: transparent transparent transparent rgb(151, 151, 151);
	right: -2px;
    top: 13px;
    border-style: dashed dashed dashed solid;
    width: 0px;
    height: 0px;
    line-height: 0;
    font-size: 0px;
    position: absolute;
    overflow: hidden;
    border-width: 5px;
}

.fenye a:hover{
	text-decoration: none;
}


.shazi{
	position:relative;
	height: 78px;
	bottom:-20px;
}


.zbmallbox{
	padding:16px 10px 0;
	background: #fafbfc;
	height:190px;
	margin-top:20px;
}
.zbmallbox>div{
	font-weight: bold;
    height: 27px;
    border-bottom: 2px solid #f3f4f6;
    text-align: center;
    position: relative;
}
.zbmallbox>div>h3{
	border-bottom:2px solid #36ab87;
	font-size:16px;
	margin-right:10px;
	height:26px;
	width:75px;
}
.zbmallbox>div>div{
	position: absolute;
    right: 18px;
    top: -14px;
    height: 50px;
    line-height: 50px;
    width: 366px;
    font-weight:bold;
    text-align:center;
}
.zbmallbox>div>div>a{
	color:#1994eb;
}
.zbmallbox>div>div>a:hover{
	text-decoration: none;
	color:#1994eb;
}
.zbmallbox>ul{height:auto;}
.zbmallbox>ul>li{
	margin-right:18px;
	display:inline;
	padding:25px 6px;
	text-align:center;
	width:279px;
}
.zbmallbox>ul>li>div{
	height:114px;
	width:279px;
}
.zbmallbox>ul>li>div>a{
	display: block;
    width: 120px;
    height: 114px;
}
.zbmallbox>ul>li>div>a>img{
	display:block;
	width:120px;
	height:114px;
}
.zbmallbox>ul>li>div>div{
	margin-top:0;
	margin-left:10px;
	width:130px;
}
.zbmallbox>ul>li>div>div>.p1>a{
	margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
    width: 170px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 22px;
    color: #2e2e2e;
    display: block;
    text-align: left;
}
.zbmallbox>ul>li>div>div>.p2{
	text-align:left;
	margin-bottom:5px;
}
.zbmallbox>ul>li>div>div>.p2>span{
	font-size:14px;
	font-weight:bold;
	color:#ff5900;
}
























